<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <title>About - FOMO</title>
      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
      <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" />
      <link href="css/modern-business.css" rel="stylesheet" />
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
   </head>
   <body>

      <!-- Navigation -->
      <nav class="navbar navbar-default" role="navigation">
         <div class="container">
            <div class="row">
               <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-1 col-sm-7">
                  <h1><a href="/">FOMO</a></h1>
               </div>
               <div class="col-lg-3 col-md-5 col-sm-5">
                  <ul class="nav navbar-nav">
                     <li>
                        <a href="#">會員登入</a>
                     </li>
                     <li>
                        <a href="#">購物車</a>
                     </li>
                  </ul>
               </div>
            </div>
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
               <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
               <ul class="nav navbar-nav">
                  <li>
                     <a href="#">New Arrival</a>
                  </li>
                  <li>
                     <a href="#">Outer</a>
                  </li>
                  <li>
                     <a href="#">Tops</a>
                  </li>
                  <li>
                     <a href="#">Bottoms</a>
                  </li>
                  <li>
                     <a href="#">Dresses / Set</a>
                  </li>
                  <li>
                     <a href="#">Accessories</a>
                  </li>
                  <li>
                     <a href="#">Sale</a>
                  </li>
                  <li>
                     <a href="#">Model's list</a>
                  </li>
               </ul>
            </div>
            <!-- /.navbar-collapse -->
         </div>
         <!-- /.container -->
      </nav>

   <div class="container"><div class="row"><div class="col-md-8 col-md-offset-2">
      <h4>付款方式</h4>
      <p>
      <ol type="a">
         <li>7-11超商取貨付款<br />會員可選擇將貨送到自行指定的7-ELEVEN門市，取貨時再進行付款。</li>
         <li>信用卡<br />
            選擇使用線上信用卡付款時，結帳會進入信用卡相關資料填寫的頁面<br />
            請詳實填好資料，以方便與銀行做信用卡資料核對。<br />
            填寫完成後，賣場會與信用卡中心進行身份以及資料的核對<br />
            若無任何問題，即完成該筆交易付款程序。
         </li>
         <li>ATM轉帳 / 匯款<br />
            郵局代號 700 匯款帳號  00019900434430<br />
            賣場提供郵局無摺存款〈只需到郵局填單即可 並回覆無摺局號6碼和日期〉<br />
            使用入戶姓名入款 請務必提供入戶匯款人姓名和入戶日期<br />
            匯款完成後請務必主動聯繫客服對帳，訂單3天內未聯繫對帳直接刪除取消
         </li>
      </ol>
      </p>
      <h4>運費與折扣</h4>
      <p>&gt;郵局：70元<br />
         &gt;全家店到店/超商取貨：60元<br />
         以上運費僅限台灣地區，海外運費另計<br />
         （全館商品一律滿千免運，以折扣後價格計算）
      </p>
      <h4>退換貨說明</h4>
      <p>商品寄出前均會詳細檢查過，除了嚴重瑕疵外不提供退換貨服務<br />
         （瑕疵定義：商品破損、大面積髒污等外觀問題）<br />
         收到商品時請買家先行檢查，如有任何問題請在7天內提出，逾期不受理<br />
         商品下水過後或有明顯試穿痕跡不適用於7天退換貨鑑賞期<br />
         實品與螢幕產生之顏色落差，個人對於顏色認知不同、輕微脫線、下水後染色或褪色、未開釦、人為造成瑕疵等均不在退換貨範圍內<br />
         <br />
         因布料彈性等因素，尺寸平量誤差在2cm內為正常範圍。<br />
         實品顏色呈現會因螢幕色彩而有些微落差，以實際商品為準<br />
         <br />
         商品如有斷貨情形，可選擇退款、更換款式或將金額轉為購物金於下次購物時使用<br />
         退款扣除斷貨商品金額後，如未超過滿千免運門檻，將予以扣除運費。<br />
         （注意：退換貨期限以收到商品後7日內為限，逾期將不受理!!）<br />
         <br />
         &gt;下單購買者視同同意以上官網之購物規定&lt;
      </p>
      <h4>購物須知</h4>
      <p>如使用匯款轉帳方式請於購買日3日內完成付款程序<br />
         匯款完成後請主動聯繫客服以便進行出貨作業，逾期訂單將會自動刪除取消<br />
         <br />
         商品如有現貨，結帳成立訂單後會依賣場流程安排處理出貨<br />
         出貨後超取工作天為2-3天（外島約4天）/宅配約1-2天送達指定地址<br />
         訂單為預購追加商品，追加期約5-14天（不含例假日）<br />
         如無法等待追加期之買家請斟酌下單，以免造成買賣糾紛
      </p>
      <h4>聯絡方式</h4>
      <p>客服時段：12:00-22:00<br />
         客服信箱：fomotw@gmail.com<br />
         如對於購買或商品有任何疑問，可私訊至FOMO粉絲團<br />
         <a href="https://www.facebook.com/fomo.tw">https://www.facebook.com/fomo.tw</a><br />
         <br />
         賣場絕不會主動使用E-mail或簡訊電話等方式，以任何名目要求買家至提款機做任何匯款操作動作，如接到相關來電請勿理會，並撥打165反詐騙專線檢取不肖分子
      </p>
      <h4>隱私權政策</h4>
      <p>為保護每位FOMO會員的權益，在未經會員同意情況下，我們不會將會員的個人資料提供予任何與本購物網站服務無關之第三方。<br />
         FOMO官網取得之所有個人資料僅限於內部購物結帳作業時使用。
      </p>
   </div>
</div>
   </div>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
   </body>
</html>